@model LepardCab.Models.DTOs.LoginDTO

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var message = TempData["NoUser"];
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <main id="main" class="signin">
        @if (message != null)
        {
            <div class="alert alert-danger">
                <strong>@message</strong>
            </div>
        }
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="~/images/^BEB5BBF7D1E545BE5FD61A40FFFA6FF472E2535E65683F9A32^pimgpsh_fullsize_distr.png" class="img-responsive">
                </div>
                <div class="col-sm-6 frm">
                    <h1>Driver Signin</h1>
                    <form>
                        <div class="input-group input-group-lg">

                            @Html.TextBoxFor(model => model.Contact, new { @class = "form-control", placeholder = "Mobile number" })
                            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group input-group-lg">

                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Cnic" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Signin" class="btn btn-default" />

                    </form>
                </div>
            </div>
        </div>
    </main>
}


