
@{ 
    var user = Session["loginUser"] as LepardCab.Models.User;
}

<header id="header" class="header">
    <div class="container">
        <div class="top">
            <div class="left">
                <p class="booking">For Booking:</p>
                <i class="fa fa-phone" aria-hidden="true"></i> <a href="#">0335-4378428</a>
                <i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="#">leopardcab@gmail.com</a>
            </div>
            <div class="right">
                <a href="@Url.Action("Create","Rent")" class="btn btn-success">Book a Car</a>


                @if (user == null)
                {
                    <a href="@Url.Action("SignupOptions","User")">Signup</a>
                    <a href="@Url.Action("Index","User")">Signin</a>

                }
                else
                {
                    <a href="#"> <i class="fa fa-user">&nbsp;&nbsp;@user.Name</i></a>

                    <a href="@Url.Action("Logout","User")">Signout</a>


                }

            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="CAB Booking.html">leopard cab</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("Index","Home")">home</a></li>
                <li><a href="@Url.Action("Services","Home")">our services</a></li>
                <li><a href="@Url.Action("about","Home")">about us</a></li>
                <li><a href="@Url.Action("Contact","Home")">contact us</a></li>
            </ul>
        </div>
    </nav>
</header>
