@model IEnumerable<LepardCab.Models.Ride>

@{
    ViewBag.Title = "AllRides";
    Layout = "~/Views/Shared/Layouts/_Admin_layout.cshtml";
}

<h2>AllRides</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RideStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RideEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.StartLatitute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartLongitute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndLatitute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndLongitute)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RideEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fare)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.StartLatitute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartLongitute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndLatitute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndLongitute)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
